---
import Home from '../components/Home.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Simple web app</title>
	</head>
	<body>
		<main class="w-full overflow-hidden h-[100vh]">
			<Home client:load />
		</main>
	</body>
</html>
